<h1><%= @place["name"] %></h1>

<% if @entries.empty? %>
  <p>No entries yet.</p>
<% else %>
  <% for entry in @entries %>
    <div>
      <h2 style="margin-bottom: 0;"><%= entry["title"] %></h2>
      <small><%= entry["occurred_on"] %></small>
      <p style="margin-top: 8px;"><%= entry["description"] %></p>
    </div>
  <% end %>
<% end %>

<p style="margin-top: 64px;">
  <a href="/entries/new?place_id=<%= @place["id"] %>">
    New Post
  </a>
</p>

<p>
  <a href="/places">← Back to Places I've Been</a>
</p>